body {
border: black;
border-radius: 2px;
background:url("https://i.pinimg.com/originals/3b/39/2b/3b392be0ffe869c1c036ace3277f88c6.jpg")
}

h2 {
color: rgb(32, 33, 36);
display: inline
font-family: "Google Sans", arial, sans-serif;
font-size: 48px;
font-weight: 400;
height: auto;
line-height: 60px;
}



li{
color: rgb(112, 117, 122);
display: inline;
font-family: Roboto, arial, sans-serif;
font-size: 16px;
font-weight: 400;
height: auto;
line-height: 20px;
text-align: right;

}

img {
    display: block;
    margin: auto;
    position: right;
}

