h1 {
  position: relative;
  font-family: roboto, arial, sans-serif;
  font-size: 50px;
  line-height: 16px;
  color: rgb(36, 38, 41);
  text-align: left;
  padding-top: 20px;
}

h2 {
  position: relative;
  font-family: roboto, arial, sans-serif;
  font-size: 25px;
  line-height: 16px;
  color: rgb(112, 117, 122);
  text-align: left;
  padding-top: 25px;
}

body {
  padding: 20em;
  background-size: 100% 100%;
  outline: 2px black;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/3b/39/2b/3b392be0ffe869c1c036ace3277f88c6.jpg");
}

li {
  text-align: right;
  text-decoration: none;
  list-style-type: none;
}

.weather-temperature .active:hover {
  color: rgb(33, 33, 33);
  text-decoration: ;
  cursor: default;
  text-decoration: none;
}
