body {
border: black;
border-radius: 2px;
background-color: white;
}

h2 {
color: rgb(32, 33, 36);
display: inline
font-family: "Google Sans", arial, sans-serif;
font-size: 48px;
font-weight: 400;
height: auto;
line-height: 60px;
}



li{
color: rgb(112, 117, 122);
display: inline;
font-family: Roboto, arial, sans-serif;
font-size: 16px;
font-weight: 400;
height: auto;
line-height: 20px;
text-align: right;
}

img {
    display: block;
    margin: auto;
    position: right;
}